<h1>My Schedule</h1>
<br>
<% @student.courses.each do |course|%>
<p><%= link_to "#{course.title}", course_path(course) %></p>
<% end %>
<br>
<br>
<br>
<br>
<p><%= link_to "Home", "/home" %></p>
<p class="footer">You are logged in as <%= current_student.name %></p>
